<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<div id="app">
			<input type="radio" value="one" v-model="picked"/>
			<label for="one">one</label>
			<input type="radio" value="two" v-model="picked"/>
			<label for="two">two</label>
			<input type="radio" value="three" v-model="picked"/>
			<label for="three">three</label>
			<br />
			<span>Picked:{{picked}}</span>
		</div>
		
		<!--选择列表-->
		<div id="app-2">
			<select v-model="optioned">
				<option>a</option>
				<option>b</option>
				<option>c</option>
			</select>
			<p>{{optioned}}</p>
		</div>
		
		<!--多选列表绑定到一个数组-->
		<div id="app-3">
			<select v-model="selected" multiple style="width: 50px;">
				<option>a</option>
				<option>b</option>
				<option>c</option>
			</select>
			<p>{{selected}}</p>
		</div>
		
		
		<!--动态option-->
		<div id="app-4">
			<select v-model="selected">
				<option v-for="optioned in optioneds" v-bind:value="optioned.value">{{optioned.text}}</option>
			</select>
			<p>{{selected}}</p>
		</div>
		
	</body>
	<script type="text/javascript">
		var app=new Vue({
			el:"#app",
			data:{
				picked:""
			}
		})
		var app2=new Vue({
			el:"#app-2",
			data:{
				optioned:"选择列表"
			}
		})
		var app3=new Vue({
			el:"#app-3",
			data:{
				selected:"a"
				
			}
		})
		var app4=new Vue({
			el:"#app-4",
			data:{
				selected:"a",
				optioneds:[
					{text:"one",value:"a"},
					{text:"two",value:"b"},
					{text:"three",value:"c"}
				]
			}
		})
	</script>
</html>
