<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<!--单个勾选-->
		<div id="app">
			<input type="checkbox" id="checkbox" v-model="checked">
			<label for="checkbox">{{ checked }}</label>
		</div>
		<!--复选框-->
		<div id="app-2">
			<input type="checkbox" value="jack" v-model="checkedNames"/>
			<label for="jack">jack</label>
			<input type="checkbox" value="john" v-model="checkedNames"/>
			<label for="john">john</label>
			<input type="checkbox" value="mike" v-model="checkedNames"/>
			<label for="jack">mike</label>
			<br />
			<span>点击的结果:{{checkedNames}}</span>
		</div>
	</body>
	<script type="text/javascript">
		var app=new Vue({
			el:"#app",
			data:{
				checked:false
			}
			
		})
		var app2=new Vue({
			el:"#app-2",
			data:{
				checkedNames:[]
			}
		})
	</script>
</html>
